{{> mainmenu _id="updateIsland"}}


        <section class="ui raised segment">
            <div class="ui grid ">
                <div class="ui form ten wide column">
                    <div class="ui stacked segment">
                        <form action="/updateIsland" method="POST">

                            <div class="ui header">
                                <label>Add Island Details</label>
                            </div>

                            <div class="field">
                                <label>Name</label>
                                <input value="{{island.name}}" type="text" name="islandName">
                            </div>

                            <div class="field">
                                <label>Description</label>
                                <input value="{{island.description}}" type="text" name="islandDescription">
                            </div>

                            <div class="field">
                                <label>Zone</label>
                                <input value="{{island.costalZone}}" type="text" name="zone">
                            </div>

                            <div class="two fields">

                                <div class="field">
                                    <label>Latitude</label>
                                    <input value="{{island.lat}}" type = "number" name="lat">
                                </div>

                                <div class="field">
                                    <label>Longitude</label>
                                    <input value="{{island.long}}" type="number" name="long">
                                </div>
                            </div>

                            <div class="field">
                            <input  type="hidden" name="id" value="{{island._id}}">
                            </div>

                            <button class="ui blue submit button">Update Island</button>
                        </form>
                        {{error}}
                    </div>
                </div>
                <aside class="six wide column">
                    <img src="images/ireland1.PNG" class="ui medium image">
                </aside>
            </div>
        </section>
      </div>
</section>